/* body {
  background-image: url();
} */

/* Grille pour afficher les champions */
.champion-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 960px;
}

/* Style pour chaque champion */
.champion {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

/* Effet de zoom au survol */
.champion:hover {
  transform: scale(1.05);
}

/* Style pour l'image du champion */
.champion img {
  width: 100%;
  height: auto;
  max-height: 180px;
  border-radius: 10px 10px 0 0;
}

/* Style pour le nom du champion */
.champion h3 {
  padding: 10px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Style pour la section des détails du champion */
#champion-details {
  display: none;
  margin-top: 30px;
}

#champion-details h2 {
  margin-top: 0;
}

#champion-details img {
  max-height: 300px;
}

#champion-details canvas {
  max-width: 400px;
  max-height: 300px;
}

/* canvas {

} */